.row {
    display: flex;
  }
  
  .column {
    flex: 1;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  h5{
    font-size: 18px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  